<h2>Admin Mondule First Component:</h2>
<h3>Admin router outlet:</h3>
<div class="top-bar">
    <div>
        <h2 class="top-header">Admin Portal</h2>
    </div>
    <div class="top-action">
        <mat-icon>person</mat-icon>
        <p class="top-text">{{currentUserName}}</p>
        <button class="top-btn" (click)="logOut()">
            <mat-icon>exit_to_app</mat-icon>
            <p class="top-text">Wyloguj</p>
        </button>
    </div>
</div>
<div class="content">
    <router-outlet></router-outlet>
</div>
