.main-img {
    width: 100%;
}

.landing-row {
    background-color: rgb(100, 100, 100, 1);
    background-image: url("/assets/wwa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
}