.root {
    max-width: 1024px;
    margin: auto;
}

.container {
    display: flex;
    justify-content: center;
}

.login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-input {
    width: 300px;
    margin: 5px;
}