<div class="container">
    <div class="top-row">
        <button mat-raised-button color="primary" class="create-btn" (click)="createAuction()">Stwórz nową licytację</button>
    </div>
    <table mat-table [dataSource]="this.dataSource" class="mat-elevation-z8 auction-table">
        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td matt-cell *matCellDef="let auction"> {{auction.Id}} </td>
        </ng-container>
        <ng-container matColumnDef="Title">
            <th mat-header-cell *matHeaderCellDef>Tytuł</th>
            <td matt-cell *matCellDef="let auction"> {{auction.Title}} </td>
        </ng-container>
        <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef>Termin składania ofert</th>
            <td matt-cell *matCellDef="let auction"> {{auction.Date}} </td>
        </ng-container>
        <ng-container matColumnDef="Price">
            <th mat-header-cell *matHeaderCellDef>Cena wywoławcza</th>
            <td matt-cell *matCellDef="let auction"> {{auction.Price}} </td>
        </ng-container>
        <ng-container matColumnDef="Body">
            <th mat-header-cell *matHeaderCellDef>Opis</th>
            <td matt-cell *matCellDef="let auction"> {{auction.Body}} </td>
        </ng-container>
        <ng-container matColumnDef="Attachement">
            <th mat-header-cell *matHeaderCellDef>Załącznik</th>
            <td matt-cell *matCellDef="let auction"> 
                <a target="_blank" href={{auction.Attachement}}>{{auction.Attachement}}</a>          
            </td>
        </ng-container>
        <ng-container matColumnDef="Edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td matt-cell *matCellDef="let auction">  
                <button (click)="editAuction(auction)">
                    <mat-icon class="mat-18">edit</mat-icon>
                  </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="Delete">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td matt-cell *matCellDef="let auction">
                <button (click)="deleteAuction(auction)">
                    <mat-icon class="mat-18">delete</mat-icon>
                  </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let user; columns: displayedColumns;"></tr>

    </table>
</div>