@import "../../../styles.scss";

.slick-dots {
    display: flex;
    flex-direction: row;
}

.slick-dot {
    margin: 5px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: $ColorWhite;
}

.slick-active {
    background-color: #81000C;
}

.new-slick {
    display: block;
    position: relative;
    width: 1000px;
    height: 500px;
    background-color: blue;
}

.new-slick-item {
    width: 300px;
    background-color: red;
    position: absolute;
    color: white;
    top: 0px;
    left: 0px;
    z-index: 998;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all .4s ease-in-out;
}

.new-slick-item-active {
    z-index: 999;
    left: 0px;
    opacity: 1;
    transition: all .4s ease-in-out;
}