<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <h1>
                Kamil Bartko | Adwokat | Syndyk
            </h1>
            <p>
                Obsługa prawna, upadłości i restrukturyzacje
            </p>
            <div class="footer-menu">
                <!-- <button mat-button [routerLink]="'/'" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Strona Główna</button>
                <button mat-button [routerLink]="'/aktualnosci'" [routerLinkActive]="['active']">Aktualności</button>
                <button mat-button [routerLink]="'/licytacje'" [routerLinkActive]="['active']">Licytacje</button>
                <button class="contact-btn" [routerLink]="'/aktualnosci'" [routerLinkActive]="['contact-btn-active']">Kontakt</button> -->
                <a [routerLink]="'/'" class="link-white upper-case">Strona Główna</a>
                <a [routerLink]="'/aktualnosci'" class="link-white upper-case">Aktualności</a>
                <a [routerLink]="'/licytacje'" class="link-white upper-case">Licytacje</a>
                <a [routerLink]="'/aktualnosci'" class="link-white upper-case">Kontakt</a>
            </div>
            <div class="footer-bottom">
                <div class="footer-bottom-text">
                    © Copyright Kamil Bartko 2022
                </div>
                <div class="footer-bottom-text">
                    Website by Rafał Bartko
                </div>
            </div>
        </div>
    </div>
</footer>