<mat-card fxFlex="500px" fxFlex.xs="100%" fxLayout="column">
  <mat-card-title>Stwórz Licytację</mat-card-title>
  <form [formGroup]="this.userForm" (submit)="onConfirm(fileInput)">
      <div class="row">
          <mat-card-content class="title">
              <mat-form-field>
                  <input matInput type = "text" placeholder = "Tytuł" formControlName = "title">
              </mat-form-field>
          </mat-card-content>
      </div>
      <div class="row">
        <mat-card-content>
            <mat-form-field>
                <input matInput type = "text" placeholder = "Termin składania ofert" formControlName = "date">
            </mat-form-field>
        </mat-card-content>
        <mat-card-content>
          <mat-form-field>
              <input matInput type = "text" placeholder = "Cena wywoławcza" formControlName = "price">
          </mat-form-field>
        </mat-card-content>
      </div>
      <div class="second-row">
          <mat-card-content>
              <textarea class="text-area" rows="10" cols="10" formControlName="body"></textarea>
          </mat-card-content>
      </div>
      <div class="row">
        Dodaj załącznik:
      </div>
      <div class="row">
        <button mat-raised-button color="Link" type="button" (click)="fileInput.click()">Choose File</button>
        <input
          hidden
          #fileInput
          type="file"
          id="file"
          (change)="setFilename(fileInput.files)"
        />
        <label class="file-label"><b>{{ filename }}</b></label>
      </div>
      <mat-card-actions>
          <div class="third-row">
              <button mat-raised-button color="primary" type="submit" [disabled] = "!userForm.valid">Confirm</button>
              <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
          </div>
      </mat-card-actions>        
  </form>
</mat-card>